.navbar {
  padding: 20px 8%;
  background: white;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #0f172a;
}

.logo span {
  color: #6366f1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  color: #475569;
  font-weight: 500;
  cursor: pointer;
}

.nav-links li:hover {
  color: #111827;
}

.nav-actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.sign-in {
  background: transparent;
  border: none;
  font-weight: 500;
  cursor: pointer;
  color: #334155;
}

.demo-btn {
  background: #4f46e5;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.demo-btn:hover {
  background: #4338ca;
}
