.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid #6288f1;
}

.nav-left h2 {
  font-weight: bold;
}

.nav-center {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-right {
  display: flex;
  gap: 15px;
}

.login {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.demo {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
.whatch {
    background-color: #2563eb;
    color:#eee;
    border: none;
}